.contenedor{
    width: 50%;
    height: 300px;
    margin: auto;
}

.input-group{
    width: 300px;
    height:50px;
}

.input_button{
    height:100px;
}

.input_button section{
    margin-left: 20px;
    height: 100px;
}

.input_button section button{
    width:150px;
    height:50px;
    font-size: 24px;
}

#Formulario_Agregar{
    border:5px solid grey;
    padding:20px;
    width: 25%;
    margin: auto;
}

#Formulario_Agregar .input-group{
    width: 100%;
    height: 60px;
    
}

#Formulario_Agregar .col-md-4{
    width: 100%;
}

#Formulario_Agregar .form-control,#Formulario_Agregar .input-group-text{
    height: 45px;
    /*border:5px solid red;*/
}

.label_mensaje{
   /* border:5px solid red;*/
    margin: 0;
    padding:0;
}

.seccion_1,.seccion_2,.seccion_3,.seccion_4{
   /* border:5px solid purple;*/
    margin-top:10px;
    
}


table tbody,table thead{
    text-align: center;
    
    }

.info_table{
    font-weight: normal;
    
}


i{
    font-size:25px;
}

.Mensaje_True{
    color:green;
}

.Mensaje_False{
    color:red;
}

.modal-title{
    width: 100%;
}